@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
	width: 100vw;
	height: 100vh;
}

main {
	width: 100%;
	height: 100%;	
}

main.login-bg {
	display: grid;
	background: #444 url(/resources/img/main-bg.png) no-repeat center center/cover;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 2fr;
	gap: 1rem;
}

main.home-page {
	position: relative;
	z-index: 5;
}

main.home-page::before {
	content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #444 url(/resources/img/main-bg.png) no-repeat center center/cover;
	opacity: .7;
}

.title {
	font-family: Roboto, sans-serif;
	font-size: 90px;
	font-weight: 100;
	color: transparent;
	background: #687EAF;
	-webkit-background-clip: text;
	text-shadow: 0px 3px 3px rgba(255,255,255,0.4);
	grid-column: 1;
	grid-row: 1;
	text-align: center;
	position: relative;
	top: 35%;
}

.small {
	font-size: 24px;
}
table {
	width: 90%;
	margin-left: 10%;
}

.sing-up-title{
	font-size: 25px;
	margin-left: 25%;
	margin-top: 50%;
	font-weight: 100;
}

.block-a {
	display: inline-block;
	font-family: Roboto, sans-serif;
	font-size: 22px;
	font-weight: 100;
	text-align: center;
	vertical-align: middle;
	width: 250px;
	line-height: 60px;
	color: whitesmoke;
	height: 65px;
	padding: 5px;
	background-color: rgba(128, 31, 0, 0.65);
}
.block-b {
	display: inline-block;
	font-family: Roboto, sans-serif;
	font-size: 22px;
	font-weight: 100;
	text-align: center;
	vertical-align: middle;
	width: 250px;
	line-height: 27px;
	color: whitesmoke;
	height: 65px;
	padding: 5px;
	background-color: rgba(46, 137, 18, 0.65);
}
.block-c {
	display: inline-block;
	font-family: Roboto, sans-serif;
	font-size: 22px;
	font-weight: 100;
	text-align: center;
	vertical-align: middle;
	width: 250px;
	line-height: 27px;
	color: whitesmoke;
	height: 65px;
	padding: 5px;
	background-color: rgba(27, 195, 255, 0.65);
}
.in-block-text{
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.1);
	font-family: Roboto, sans-serif;
	font-size: 16px;
	padding: 5px;
	color: whitesmoke;
	overflow-wrap: break-word;
	width: 250px;
}
.form {
	font-family: Roboto, sans-serif;
	background: rgba(166, 200, 233,0.5);
	width: 85%;
	height: 100%;
	grid-column: 2;
	grid-row: 1 / span 2;
	color: white;
}

header {
	width: 100%;
	height: 10vh;
	background-color: rgba(149, 173, 177, 0.3);
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1rem 1rem;
}

.flying-window {
	z-index: 5;
	position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    background: rgba(142, 150, 151, .5);
    display: none;
}

.flying-window-form {
	font-family: Roboto, sans-serif;
	position: relative;
	display: flex;
    flex-direction: column;
    padding: 15px;
	width: 40%;
	border-radius: 20px;
    background: rgba(207, 217, 218, 1);
}

.flying-window-title{
	text-align: center;
	margin: -15px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	line-height: 30px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.85);


}

.inp {
	position: relative;
	width: 100%;
	left: 10%;
	right: 10%;
}
.inp .label {
	position: absolute;
	top: 5px;
	left: 0;
	font-size: 16px;
	color: white;
	font-weight: 500;
	transform-origin: 0 0;
	transition: all 0.2s ease;
}
.inp .border {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0px;
	width: 100%;
	background: #07f;
	transform: scaleX(0);
	transform-origin: 0 0;
	transition: all 0.15s ease;
}
.inp input {
	-webkit-appearance: none;
	border: 0;
	font-family: inherit;
	width: 80%;
	margin-top: 10px;
	height: 24px;
	font-size: 16px;
	font-weight: 500;
	border-bottom: 2px solid lightskyblue;
	background: none;
	border-radius: 0;
	color: aliceblue;
	transition: all 0.15s ease;
}
.inp input:hover {
	background: rgba(34,50,84,0.13);
}
.inp input:not(:placeholder-shown) + span {
	color: #07f;
	transform: translateY(-15px) scale(0.75);
}
.inp input:focus {
	background: none;
	outline: none;
}
.inp input:focus + span {
	color: #07f;
	transform: translateY(-15px) scale(0.75);
}
.inp input:focus + span + .border {
	transform: scaleX(1);
}
.inp input::placeholder{
	color: transparent;
	display: none;
}

.position{
	margin-top: 10px;
	margin-left: 10%;
	float: left;
}

.policy {
	margin-top: 8px;
	margin-left: 12%;
}

.round-blue-button {
	background-color: transparent;
	color: whitesmoke;
	border: 2px solid #008CBA;
	border-radius: 20px;
	padding: 10px 24px;
	margin-left: 35%;
}

.round-blue-button:hover {
	background-color: #008CBA;
	color: white;
}

.sign-in{
	text-align: center;
}

.sign-link{
	color: whitesmoke;
}

.create-task-button{
	padding: 5px 5px;
	position: absolute;
	margin-left: -20%;
	margin-top: -20px;
	font-family: Roboto, sans-serif;
	font-size: 24px;
	color: white;
	background-color: transparent;
	border-color: transparent;
	line-height: 24px;
	border-radius: 20px;
}
.create-task-button:hover{
	background-color: rgba(0,0,0, 0.05);
}

.create-group-button{
	padding: 5px 5px;
	position: absolute;
	margin-top: -20px;
	font-family: Roboto, sans-serif;
	font-size: 24px;
	color: white;
	background-color: transparent;
	border-color: transparent;
	line-height: 24px;
	border-radius: 20px;
}
.create-group-button:hover{
	background-color: rgba(0,0,0, 0.05);
}
.logout-button {
	text-decoration: none;
	background-color: rgba(48, 50, 49, 0.29);
	color: whitesmoke;
	border: 2px solid #008CBA;
	border-radius: 20px;
	padding: 10px 24px;
}

.logout-button:hover {
	background-color: #008CBA;
	color: white;
}

.F-logo{
	font-family: Roboto, sans-serif;
	font-size:50px;
	font-weight: 700;
	color: white;
	font-style: italic;
}
.F-logo:hover{
	cursor: default;
}
.tasks-container{
	margin-left: 5px;
	padding: 7px 7px;
	height: max-content;
	width: 25%;
	border-radius: 10px;
	background-color: rgba(128, 47, 0, 0.8);
}

.task{
	height: 25%;
	width: 100%;
}

.task-title{
	background-color: rgba(128, 47, 0, 0.8);
	text-align: center;
	margin-top: 10px;
	margin-bottom: -17px;
	padding: 7px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.task-description{
	background-color: rgba(255, 255, 255, 0.51);
	padding: 7px 7px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.close-button{
	height: 24px;
	width: 24px;
	position: absolute;
	top: 3px;
	right: 8px;
	background-color: transparent;
	border-color: transparent;
}

.create-task-title{
	padding: 5px;
	border-radius: 15px;
}
.create-task-title:focus{
	outline-style: none;
}
.create-task-description {
	font-family: inherit;
	padding: 5px;
	border-radius: 15px;
	overflow-y: scroll;
	resize: none;
}

/* width */
::-webkit-scrollbar {
	width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #aaaaaa;
	border-radius: 15px;
}

.create-task-description:focus{
	outline-style: none;
}

.choose-group-btn {
	background-color: rgba(255, 255, 255, 0.51);
	color: black;
	padding: 5px;
	width: 100%;
	border-radius: 15px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.choose-group-btn:hover, .choose-group-btn:focus {
	background-color: rgba(140, 140, 140, 0.6);
}

.group-list {
	position: relative;
	display: inline-block;
}

.group-list-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.group-list-content p {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	cursor: default;
}

.group-list-content p:hover {background-color: #ddd;}

.show {
	display: block;
}

.subtask-title{
	text-align: center;
	background-color: rgba(255, 255, 255, 0.85);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.subtask-container{
	position: relative;
	background-color: rgba(255, 255, 255, 0.40);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 100%;
	height: 100px;
}
.flying-window-done-btn{
	position: relative;
	left: 45%;
	width: 70px;
	height: 30px;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(221, 221, 221);
	border-radius: 5px;
}

.flying-window-add-btn{
	position: absolute;
	bottom: 5%;
	left: 46%;
	width: 40px;
	height: 30px;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(221, 221, 221);
	border-radius: 5px;
}

.group-member-block{
	float: left;
	background-color: rgba(255, 255, 255, 0.40);
	border-radius: 15px;
	padding: 15px;
	width: 47%;
	height: 200px;
}
.group-member-block-title{
	text-align: center;
	margin: -15px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	line-height: 30px;
	background-color: rgba(255, 255, 255, 0.85);

}

.group-color-block{
	position: absolute;
	top: 98px;
	right: 15px;
	background-color: rgba(255, 255, 255, 0.40);
	border-radius: 15px;
	padding: 10px;
	width: 43%;
	height: 200px;
}
.group-color-block-title{
	text-align: center;
	margin: -10px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	line-height: 30px;
	background-color: rgba(255, 255, 255, 0.85);

}

.create-group-add{
	position: relative;
	bottom: -150px;
	left: 44%;
	width: 40px;
	height: 30px;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(221, 221, 221);
	border-radius: 5px;
}
.color-palette{
	position: relative;
	top: 20px;
}
.some-color{
	color: transparent;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 1px solid black;
	outline: none;
}